# general metadata
version: "CHANGEME"
repository: "git@github.com:elastic/connectors.git"
revision: "main"

elasticsearch:
  cloud_id: "CHANGEME"
  hosts: "CHANGEME"
  api_key: "CHANGEME"

connector_package_id: "CHANGEME"
service_type: "CHANGEME"
log_level: info
