# general metadata
version: "CHANGEME"
repository: "git@github.com:elastic/connectors.git"
revision: "main"

elasticsearch:
  cloud_id: "CHANGEME"
  hosts: "CHANGEME"
  api_keys:
    index_name: "API key"

worker:
  max_thread_count: 4

log_level: info
